<%- include('../partials/header')%>
<section class="team-info">
  <h2>FC Bayern Munich</h2>
  <h3><a href="https://allianz-arena.com/en">Allianz Arena</a></h3>
  <div id="gif" style="width:480px"><iframe allow="fullscreen" frameBorder="0" height="270" src="https://giphy.com/embed/gf530ViriGXfz5laIU/video" width="480"></iframe></div>
  <h3><a href="https://www.google.com/search?gs_ssp=eJzj4tTP1TcwNjc0szRg9OJKKs1LSS3OyUxPBABGIwa8&q=bundesliga&oq=bunde&gs_lcrp=EgZjaHJvbWUqDQgBEC4YgwEYsQMYgAQyEAgAEAAYgwEY4wIYsQMYgAQyDQgBEC4YgwEYsQMYgAQyDQgCEC4YgwEYsQMYgAQyDQgDEAAYgwEYsQMYgAQyBggEEEUYOTINCAUQABiDARixAxiABDINCAYQABiDARixAxiABDIKCAcQABixAxiABDINCAgQABiDARixAxiABDIHCAkQABiABNIBCjE1NjQ4ajFqMTWoAgCwAgA&sourceid=chrome&ie=UTF-8#sie=lg;/g/11j4slbd63;2;/m/037169;st;fp;1;;;">Bundesliga Rank: League Champs!</a> </h3><br>
  <p>Click the link above to see the league standings!</p>
</section>
<section class="forward-list">
  <table>
  <thead>
    <tr>
      <th class="row1"><strong>Number</strong></th>
      <th class="row2"><strong>Name</strong></th>
      <th class="row3"><strong>Position</strong></th>
      <th class="row4"><strong>Stats</strong></th>
      <th class="row5"></th>
    </tr>
  </thead>
  <tbody>
    <% players.forEach(function(p) { %>
      <tr>
        
        <td><%= p.number %></td>
        <td><%= p.name %></td>
        <td><%= p.position %></td>
        <td><a href="/team/<%= p._id %>">Player Stats</a></td>
        <td>
          <form action="/team/<%= p._id %>?_method=DELETE" method="POST"
            class="delete-form">
            <button type="submit">Delete Player</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
    </table>
  </section>
<a id="add-player" href="/team/new">Add Player</a>

<%- include('../partials/footer')%>