<%- include('../partials/header')%>

<section id="stats-page">
  <div><%= player.number %></div>
  <div><%= player.name %></div>
  <div><%= player.position %></div>
</section>

<%- include('../partials/footer')%>