<%- include('../partials/header')%>

<section id="player-info">
  <div><%= player.number %></div>
  <div><%= player.name %></div>
  <div><%= player.position %></div>
</section>
<section id="stats">
  
</section>

<%- include('../partials/footer')%>