<%- include('./partials/header')%>


  <h2>Bayern News Page</h2>


<section id="post-area">
<div id="post">
    <% posts.forEach(function(p) { %>
        <h3 id="title"><%= p.title %></h3>
        <p><%= p.time %></p>
        <p id="content"><%= p.content %></p>
        <form action="/<%= p._id %>?_method=DELETE" method="POST"
          class="delete-form">
          <button id="delete" type="submit">Delete Post</button>
        </form>
      <% }) %>
      </div>
</section>
  <hr>

  <% if (user) { %>
<form id="create-post" action="/" method="POST" autocomplete="off">
  <div>Title</div>
  <input type="text" name="title"><br>
  <div>Content</div>
  <textarea name="content" id="" cols="80" rows="5"></textarea><br>
  <button type="submit">Create Post</button>
</form>
<% } %>

<%- include('./partials/footer')%>